.{_prefix}u-animate {
  _transition-all();

  &-size {
    _transition-size();
  }

  &-opacity {
    _transition-opacity();
  }

  &-shake-vertical {
    +_hover() {
      _shake-vertical();
    }
  }

  &-vibrate-vertical {
    +_hover() {
      _vibrate-vertical();
    }
  }

  &-shake-horizontal {
    +_hover() {
      _shake-horizontal();
    }
  }

  &-vibrate-horizontal {
    +_hover() {
      _vibrate-horizontal();
    }
  }

  &-shake-scale {
    +_hover() {
      _shake-scale();
    }
  }

  &-vibrate-scale {
    +_hover() {
      _vibrate-scale();
    }
  }

  &-extend-underline {
    position: relative;

    &::after {
      _extend-underline();
    }

    +_hover() {
      &::after {
        width: 100%;
      }
    }
  }
}
