//
// The alert component
//
// <div class="_c-alert" role="alert">
//   ...
// </div>
//

.{_prefix}c-alert {
  _alert({
    background-color: #fff,
    border-color    : _light(_color-gray),
    border-size     : 1px,
  });

  border-radius: _border-radius;
  padding: _base-font-size;
}
