@import '../src/css/basis-core';
@import 'api/api';

+_test('[function] _size-prefix()') {
  _assert-equals('-', _size-prefix('sm'));
  _assert-equals('--md', _size-prefix('md'));
  _assert-equals('--lg', _size-prefix('lg'));
}

+_test('[function] _gcd()') {
  _assert-equals(2, _gcd(2, 12));
  _assert-equals(4, _gcd(4, 12));
  _assert-equals(1, _gcd(1, 12));
  _assert-equals(1, _gcd(5, 12));
}

+_test('[function] _px2rem()') {
  rem = _px2rem(16px, 16px);
  _assert-equals(1rem, rem);

  rem = _px2rem(16px, 10px);
  _assert-equals(1.6rem, rem);
}

+_test('[function] _rem2px()') {
  rem = _rem2px(1rem, 16px);
  _assert-equals(16px, rem);

  rem = _rem2px(1rem, 10px);
  _assert-equals(10px, rem);
}

+_test('[function] _strip-unit()') {
  _assert-equals(1, _strip-unit(1rem));
  _assert-equals(10, _strip-unit(10px));
}

+_test('[variable] _transition-duration') {
  _assert-equals(_transition-duration, _transition-duration);
}

+_test('[function] _is-length()') {
  _assert-equals(true, _is-length(0));
  _assert-equals(false, _is-length(1));
  _assert-equals(true, _is-length(1px));
  _assert-equals(true, _is-length(1%));
  _assert-equals(false, _is-length('test'));
  _assert-equals(false, _is-length('1px'));
}

+_test('[function] _is-int()') {
  _assert-equals(true, _is-int(0));
  _assert-equals(true, _is-int(1));
  _assert-equals(false, _is-int(1px));
  _assert-equals(false, _is-int(1%));
  _assert-equals(false, _is-int('test'));
  _assert-equals(false, _is-int('1'));
}

+_test('[function] _space()') {
  _assert-equals(.75rem, _space(.5));
  _assert-equals(1.5rem, _space(1));
  _assert-equals(4.5rem, _space(3));
  _assert-equals(0, _space(0));
  _assert-equals(-1.5rem, _space(-1));
}

+_test('[function] _is-null()') {
  _assert-equals(false, _is-null(''));
  _assert-equals(false, _is-null(false));
  _assert-equals(false, _is-null(0));
  _assert-equals(false, _is-null('null'));
  _assert-equals(true, _is-null(null));
}

+_test('[function] _vertical-rhythm()') {
  _assert-equals(24, _vertical-rhythm(16px));
}
