.{bs-prefix}u-animate {
  bs-transition-all();

  &-size {
    bs-transition-size();
  }

  &-opacity {
    bs-transition-opacity();
  }

  &-shake-vertical {
    +bs-hover() {
      _shake-vertical();
    }
  }

  &-vibrate-vertical {
    +bs-hover() {
      _vibrate-vertical();
    }
  }

  &-shake-horizontal {
    +bs-hover() {
      _shake-horizontal();
    }
  }

  &-vibrate-horizontal {
    +bs-hover() {
      bs-vibrate-horizontal();
    }
  }

  &-shake-scale {
    +bs-hover() {
      bs-shake-scale();
    }
  }

  &-vibrate-scale {
    +bs-hover() {
      bs-vibrate-scale();
    }
  }

  &-extend-underline {
    position: relative;

    &::after {
      bs-extend-underline();
    }

    +bs-hover() {
      &::after {
        width: 100%;
      }
    }
  }
}
