.{bs-prefix}u-hidden {
  &-sm {
    +bs-bp-sm-only() {
      display: none !important;
    }
  }

  &-md {
    +bs-bp-md-only() {
      display: none !important;
    }
  }

  &-lg {
    +bs-bp-lg-only() {
      display: none !important;
    }
  }
}
