.{bs-prefix}u-hidden {
  &-sm {
    +_media-sm-only() {
      display: none !important;
    }
  }

  &-md {
    +_media-md-only() {
      display: none !important;
    }
  }

  &-lg {
    +bs-bp-lg-only() {
      display: none !important;
    }
  }
}
