.{_prefix}u-visible {
  &-sm-inline {
    +_media-sm-only() {
      display: inline !important;
    }
  }

  &-sm-inline-block {
    +_media-sm-only() {
      display: inline-block !important;
    }
  }

  &-sm-block {
    +_media-sm-only() {
      display: block !important;
    }
  }

  &-sm-flex {
    +_media-sm-only() {
      display: flex !important;
    }
  }

  &-md-inline {
    +_media-md-only() {
      display: inline !important;
    }
  }

  &-md-inline-block {
    +_media-md-only() {
      display: inline-block !important;
    }
  }

  &-md-block {
    +_media-md-only() {
      display: block !important;
    }
  }

  &-md-flex {
    +_media-md-only() {
      display: flex !important;
    }
  }

  &-lg-inline {
    +_media-lg-only() {
      display: inline !important;
    }
  }

  &-lg-inline-block {
    +_media-lg-only() {
      display: inline-block !important;
    }
  }

  &-lg-block {
    +_media-lg-only() {
      display: block !important;
    }
  }

  &-lg-flex {
    +_media-lg-only() {
      display: flex !important;
    }
  }
}
