_test(message) {
	[Test] {
		message: message;
		{block}
	}
}

_assert-equals(expected, actual) {
	if (expected == actual) {
		content: 'OK!';
	} else {
		content: 'FAILURES! Expected: ' + expected + '  Actual: ' + actual;
	}
}
