//
// Return greatest common divisor
//
// @param   int  a  The number to be divided
// @param   int  b  The number to divide
// @return  int  The number of the remainder
//
bs-gcd(a, b) {
  if (b == 0) {
    return a;
  }
  return bs-gcd(b, a % b);
}
