//
// Return the margin conforming to the rhythm
//
// @param   int     coefficient
// @return  length
//
_space(coefficient) {
  margin     = (_base-line-height * coefficient);
  add-margin = (_base-line-height * (_margin-coefficient - 1));
  space      = (margin + add-margin);
  if (0 == space) {
    return 0;
  }
  return space;
}
