//
// Return the margin conforming to the rhythm
//
// @param   int     coefficient
// @return  length
//
_space(coefficient) {
  margin     = (bs-base-line-height * coefficient);
  add-margin = (bs-base-line-height * (bs-margin-coefficient - 1));
  return (margin + bs-margin-coefficient);
}
