.{bs-prefix}c-flex-media {
  +bs-bp-md-min() {
	  bs-clearfix();
  }

  &__figure {
    +bs-bp-md-min() {
      display: block;
      float: left;
    }
  }

  &__body {
    +bs-bp-md-min() {
	    display: block;
      overflow: hidden;
    }
  }

  &--reverse {
    +bs-bp-md-min() {
	    > .{bs-prefix}c-flex-media__figure {
        float: right;
      }
		}
  }
}
