.{bs-prefix}c-media {
  bs-clearfix();

  &__figure {
    display: block;
    float: left;
  }

  &__body {
    display: block;
    overflow: hidden;
  }

  &--middle {
    // Not supported.
  }

  &--reverse {
    > .{bs-prefix}c-media__figure {
      float: right;
    }
  }
}
