.{_prefix}c-balloon-top {
  @extend $_balloon-top;
}

.{_prefix}c-balloon-right {
  @extend $_balloon-right;
}

.{_prefix}c-balloon-bottom {
  @extend $_balloon-bottom;
}

.{_prefix}c-balloon-left {
  @extend $_balloon-left;
}
