//
// The card componet
//
// <div class="_c-card">
//  <div class="_c-card__figure">
//    <img ...>
//  </div>
//  <div class="_c-card__body">
//    ...
//  </div>
//  <div class="_c-card__action">
//    ...
//  </div>
// </div>
//

.{_prefix}c-card {
  @extend $_card;
}
