//
// The checkbox component
//
// <span class="c-checkbox">
//   <input type="checkbox">
//   <label class="c-checkbox__label">Label</label>
// </span>
//

.{_prefix}c-checkbox {
  @extend $_checkbox;

  &--block {
    display: block;
  }
}
