//
// The fluid container component
//
// <div class="c-container-fluid">
//   ...
// </div>
//

.{_prefix}c-container-fluid {
  @extend $_container-fluid;
}

//
// The container component
//
// <div class="c-container">
//   ...
// </div>
//

.{_prefix}c-container {
  @extend $_container;
}
