.{bs-prefix}c-flex-media {
  @extend $bs-flex-media;

  &--reverse {
    .{bs-prefix}c-flex-media__figure {
      +bs-bp-md-min() {
        bs-margin(0, 0, 0, 1);
        order: 1;
      }
    }
  }
}
