//
// The hamberger button component
//
// <div class="c-hamburger-btn" role="button" aria-expanded="false">
//   <div class="c-hamburger-btn__bar"></div>
//   <div class="c-hamburger-btn__bar"></div>
//   <div class="c-hamburger-btn__bar"></div>
// </div>
//

.{_prefix}c-hamburger-btn {
  @extend $_hamburger-btn;
}
