.{bs-prefix}c-hero {
  @extend $_hero;

  &--full {
    height: 100vh;
  }

  &--cover {
    _background-image-cover();
  }

  &--overlay {
    _overlay(rgba(0, 0, 0, .7));
  }

  &--fixed {
    +_media-lg-only() {
      _background-image-fixed();
    }
  }
}
