.{$bs-prefix}c-input-group {
  bs-c-input-group();

  &__addon {
    bs-c-input-group__addon();
  }

  &__field {
    bs-c-input-group__field();
  }

  &__control {
    bs-c-input-group__control();
  }

  &__btn {
    bs-c-input-group__btn();
  }
}
