.{$bs-prefix}c-media {
  @extend $bs-media;

  &__body {
    > .{$bs-prefix}c-media {
      margin-top: $bs-media-margin;
    }
  }

  &--middle {
    align-items: center;
  }

  &--reverse {
    .{$bs-prefix}c-media__figure {
      margin-right: 0;
      margin-left: $bs-media-margin;
      order: 1;
    }
  }
}
