//
// The page effect component
//
// import BasisDrawer from 'node_modules/getbasis/src/js/page-effect.js';
// new BasisPageEffect();
//
// <div class="c-page-effect" data-c="page-effect" data-page-effect="fadein" aria-hidden="false">
//   <div class="c-page-effect__item">
//     Loading...
//   </div>
// </div>
//

.{_prefix}c-page-effect {
  @extend $_page-effect;
}
