//
// The pulse spinner component
//
// <div class="c-spinner-pulse">
//   <div class="c-spinner-pulse__bar"></div>
//   <div class="c-spinner-pulse__bar"></div>
//   <div class="c-spinner-pulse__bar"></div>
// </div>
//

.{_prefix}c-spinner-pulse {
  @extend $_spinner-pulse;
}
