/*!
 * Name: Basis v2.0.1
 * Description: The flexbox based CSS framework.
 * Author: Takashi Kitajima ( inc2734 )
 * Author URL: http://2inc.org
 * GitHub Repository: https://github.com/getbasis/basis
 * License: MIT
 */

@import 'core/*';

if (! bs-is-use-mixin-only()) {
  @import '../../node_modules/normalize-styl/normalize.styl';
  @import 'foundation/*';
  @import 'core/placeholder/*';
  @import 'object/component/*';
  @import 'object/utility/*';
}
