//
// Adding margin for the row
//
// @param  int  coefficient
//
bs-row-margin(coefficient) {
  _row--margin(coefficient);
}

//
// Adding margin for the column
//
// @param  int  coefficient
//
bs-col-margin(coefficient) {
  _row__col--margin(coefficient);
}

//
// Setting column width
//
// @param  length  width
//
bs-col-width(width) {
  _row__col--width(width);
}

//
// Setting column width
//
// @param  int  columns  molecule column size
// @param  int  max-columns  denominator column size
//
bs-col(columns = null, max-columns = null) {
  _row__col(columns, max-columns);
}

//
// Setting column offset
//
// @param  int  columns  molecule offset size
// @param  int  max-columns  denominator offset size
//
bs-col-offset(columns = null, max-columns = null) {
  _row__col--offset(columns, max-columns);
}

//
// Bounce vertical
//
// @param   length             px        bounce size
// @param   second|milisecond  delay: 0  animate time
//
bs-bounce-vertical(px, delay = 0) {
  _bounce-vertical(px, delay);
}

//
// Shake vertical
//
bs-shake-vertical() {
  _shake-vertical();
}

//
// Vibrate vertical
//
bs-vibrate-vertical() {
  _vibrate-vertical();
}

//
// Bounce horizontal
//
// @param   length             px        bounce size
// @param   second|milisecond  delay: 0  animate time
//
bs-bounce-horizontal(px, delay = 0) {
  _bounce-horizontal(px, delay);
}

//
// Shake horizontal
//
bs-shake-horizontal() {
  _shake-horizontal();
}

//
// Vibrate horizontal
//
bs-vibrate-horizontal() {
  _vibrate-horizontal();
}

//
// Bounce scale
//
// @param   float              px        bounce size
// @param   second|milisecond  delay: 0  animate time
//
bs-bounce-scale(float, delay = 0) {
  _bounce-scale(float, delay);
}

//
// Shake scale
//
bs-shake-scale() {
  _shake-scale();
}

//
// Vibrate scale
//
bs-vibrate-scale() {
  _vibrate-scale();
}

//
// Extend the underline from the center.
// This mixin use the pseudo-elements.
//
bs-extend-underline() {
  _extend-underline();
}

//
// Background image cover + centering
//
bs-background-image-cover() {
  _background-image-cover();
}

//
// Background image fixed
//
bs-background-image-fixed() {
  _background-image-fixed();
}

//
// Clearfix helper
//
// .clerfix {
//   bs-clearfix();
// }
//
// <div class="clearfix">
//   <img style="float: right">
//   ....
// </div>
//
bs-clearfix() {
  _clearfix();
}

//
// Event helper
//
// img {
//   +bs-hover() {
//     opacity: .8;
//   }
// }
//
bs-hover() {
  _hover() {
    {block};
  }
}

//
// Ghost style
//
// .c-btn-ghost {
//   @extend $_btn;
//   bs-ghost();
// }
//
// <a class="c-btn-ghost" role="button">btn</a>
//

bs-ghost() {
  _ghost();
}

//
// Retrun margin
//
// @param  int  coefficient-1
// @param  int  coefficient-2
// @param  int  coefficient-3
// @param  int  coefficient-4
//
bs-margin(coefficient-1, coefficient-2 = null, coefficient-3 = null, coefficient-4 = null) {
  _margin(coefficient-1, coefficient-2, coefficient-3, coefficient-4);
}

//
// Retrun margin-top
//
// @param  int  coefficient
//
bs-margin-top(coefficient) {
  _margin-top(coefficient);
}

//
// Retrun margin-right
//
// @param  int  coefficient
//
bs-margin-right(coefficient) {
  _margin-right(coefficient);
}

//
// Retrun margin-bottom
//
// @param  int  coefficient
//
bs-margin-bottom(coefficient) {
  _margin-bottom(coefficient);
}

//
// Overlay
//
// @param  hex  hex
//
bs-overlay(hex) {
  _overlay(hex);
}

//
// Retrun padding
//
// @param  int  coefficient-1
// @param  int  coefficient-2
// @param  int  coefficient-3
// @param  int  coefficient-4
//
bs-padding(coefficient-1, coefficient-2 = null, coefficient-3 = null, coefficient-4 = null) {
  _padding(coefficient-1, coefficient-2, coefficient-3, coefficient-4);
}

//
// Retrun padding-top
//
// @param  int  coefficient
//
bs-padding-top(coefficient) {
  _padding-top(coefficient);
}

//
// Retrun padding-right
//
// @param  int  coefficient
//
bs-padding-right(coefficient) {
  _padding-right(coefficient);
}

//
// Retrun padding-bottom
//
// @param  int  coefficient
//
bs-padding-bottom(coefficient) {
  _padding-bottom(coefficient);
}

//
// Retrun padding-left
//
// @param  int  coefficient
//
bs-padding-left(coefficient) {
  _padding-left(coefficient);
}

//
// Return min-width media query
//
// @param  length  min  width
//
bs-bp-min(min) {
  +_media-min(min) {
    {block};
  }
}

//
// Return max-width media query
//
// @param  length  max  width
//
bs-bp-max(max) {
  +_media-max(max) {
    {block};
  }
}

//
// Return bs-screen-md-min media query
//
bs-bp-md-min() {
  +_media-min('md') {
    {block};
  }
}

//
// Return bs-screen-md-max media query
//
bs-bp-md-max() {
  +_media-max('md') {
    {block};
  }
}

//
// Return media query for smartphone size
//
bs-bp-sm-only() {
  +_media-sm-only() {
    {block};
  }
}

//
// Return media query for tablet size
//
bs-bp-md-only() {
  +_media-md-only() {
    {block};
  }
}

//
// Return media query for pc size
//
// @return  string  media query
//
bs-bp-lg-only() {
  +_media-lg-only() {
    {block};
  }
}

//
// Transition helper
//
// a {
//   bs-transition-all();
//   color: #f00;
//   &:hover {
//     color: #f9c;
//   }
// }
//
bs-transition-all() {
  _transition-all();
}

//
// Transition helper
//
// .c-progress-bar {
//   bs-transition-size();
//   height: 10px;
//   width: 10px;
//   &:hover {
//     width: 20px;
//   }
// }
//
bs-transition-size() {
  _transition-size();
}

//
// Transition helper
//
// img {
//   bs-transition-opacity();
//   opacity: 1;
//   &:hover {
//     opacity: .8;
//   }
// }
//
bs-transition-opacity() {
  _transition-opacity();
}

//
// Return px and rem font-sizes
//
// @param  rem|px  font-size
//
bs-font-size(font-size) {
  _font-size(font-size);
}

//
// Return line-height for vertical rhythum
//
// @param  rem|px  font-size  font size
//
bs-line-height(font-size) {
  _line-height(font-size);
}
