$bs-row {
  @extend $_row;
}

$bs-alert {
  @extend $_alert;
}

$bs-btn {
  @extend $_btn;
}

$bs-checkbox {
  @extend $_checkbox;
}

$bs-container-fluid {
  @extend $_container-fluid;
}

$bs-container {
  @extend $_container;
}

$bs-flex-media {
  @extend $_flex-media;
}

$bs-form-control {
  @extend $_form-control;
}

$bs-hero {
  @extend $_hero;
}

$bs-input-group {
  @extend $_input-group;
}

$bs-media {
  @extend $_media;
}
