//
// Alert component
//
// .c-alert {
//   _alert();
// }
//
// <alert class="c-alert" role="alert">
//   ...
// </alert>
//

bs-alert-border-radius ?= _border-radius;
bs-alert-border        ?= 1px solid _light(_color-gray);
bs-alert-padding       ?= bs-base-font-size;

_alert() {
  background-color: #fff;
  border-radius: bs-alert-border-radius;
  border: bs-alert-border;
  display: block;
  padding: bs-alert-padding;
}
