//
// Button component
//
// .c-btn {
//   _btn();
// }
//
// <a class="c-btn" role="button">btn</a>
//

_btn() {
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}
