//
// Checkbox component
//
// .c-checkbox {
//   _checkbox();
// }
//
// <span class="c-checkbox" data-c="checkbox">
//   <input type="checkbox">
//   <label data-c="checkbox__label">Label</label>
// </span>
//

bs-checkbox-margin        ?= (bs-base-font-size / 2);
bs-checkbox-z-index       ?= 1;
bs-checkbox-border-radius ?= 3px;

_checkbox() {
  position: relative;
  display: inline-block;
  margin-right: bs-checkbox-margin;
  padding-left: (bs-base-font-size + bs-checkbox-margin);

  > [type="checkbox"] {
    _checked-control-position();
    cursor: pointer;
    opacity: 0 !important;
    outline: 0;
    z-index: bs-checkbox-z-index;

    &:checked ~ [data-c="checkbox__label"]::after {
      opacity: 1;
    }
  }

  > [data-c="checkbox__label"] {
    &::before {
      _checked-control-position();
      content: '';
      display: inline-block;
      background-color: #fff;
      border: 1px solid _light(bs-color-gray);
      border-radius: bs-checkbox-border-radius;
      z-index: (bs-checkbox-z-index - 1);
    }

    &::after {
      position: absolute;
      content: '';
      display: inline-block;
      background-color: bs-dark(bs-color-gray);
      border-radius: (bs-checkbox-border-radius - 1);
      height: (bs-base-font-size / 2);
      width: @height;
      left: ((bs-base-font-size - @height) / 2);
      top: (bs-between-lines + @left);
      opacity: 0;
      z-index: (bs-checkbox-z-index - 1);
    }
  }
}
