//
// Checkbox component
//
// .c-checkbox {
//   _checkbox();
// }
//
// <span class="c-checkbox" data-c="checkbox">
//   <input type="checkbox">
//   <label data-c="checkbox__label">Label</label>
// </span>
//

_checkbox() {
  checkbox-margin  = (_base-font-size / 2);
  checkbox-z-index = 1;
  checkbox-border-radius ?= 3px;

  position: relative;
  display: inline-block;
  margin-right: checkbox-margin;
  padding-left: (_base-font-size + checkbox-margin);

  > [type="checkbox"] {
    _checked-control-position();
    cursor: pointer;
    opacity: 0 !important;
    outline: 0;
    z-index: checkbox-z-index;

    &:checked ~ [data-c="checkbox__label"]::after {
      opacity: 1;
    }
  }

  > [data-c="checkbox__label"] {
    &::before {
      _checked-control-position();
      content: '';
      display: inline-block;
      background-color: #fff;
      border: 1px solid _light(_color-gray);
      border-radius: checkbox-border-radius;
      z-index: (checkbox-z-index - 1);
    }

    &::after {
      height: (_base-font-size / 2);
      position: absolute;
      left: ((_base-font-size - @height) / 2);
      top: (_between-lines + @left);
      content: '';
      display: inline-block;
      background-color: _dark(_color-gray);
      border-radius: (checkbox-border-radius - 1);
      width: @height;
      opacity: 0;
      z-index: (checkbox-z-index - 1);
    }
  }
}
