//
// Fluid container component
//
// .c-container-fluid {
//   _container-fluid();
// }
//
// <div class="c-container-fluid">
//   ...
// </div>
//

bs-container-margin ?= _base-line-height;

_container-fluid() {
  margin-right: auto;
  margin-left: auto;
  padding-right: (bs-container-margin / 2);
  padding-left: (bs-container-margin / 2);

  +_media-min('md') {
    padding-right: bs-container-margin;
    padding-left: bs-container-margin;
  }
}

//
// Container component
//
// .c-container {
//   _container();
// }
//
// <div class="c-container">
//   ...
// </div>
//

bs-container-max-width ?= 1200px;

_container() {
  _container-fluid();

  +_media-lg-only() {
    max-width: _px2rem(bs-container-max-width);
  }
}
