//
// Fluid container component
//
// .c-container-fluid {
//   _container-fluid();
// }
//
// <div class="c-container-fluid">
//   ...
// </div>
//

_container-fluid() {
  margin-right: auto;
  margin-left: auto;
}

//
// Container component
//
// .c-container {
//   _container();
// }
//
// <div class="c-container">
//   ...
// </div>
//

_container-max-width ?= bs-container-max-width ?= 1200px;

_container() {
  _container-fluid();

  +_media-lg-only() {
    max-width: _px2rem(_container-max-width);
  }
}
