//
// Media component. When smartphone size, vertically aligned.
//
// .c-flex-media {
//   _flex-media();
//   &__figure {
//     _flex-media__figure();
//   }
//   &__body {
//     _flex-media__body();
//   }
// }
//
// <div class="c-flex-media">
//  <div class="c-flex-media__figure">
//    <img ...>
//  </div>
//  <div class="c-flex-media__body">
//    ...
//  </div>
// </div>
//

_flex-media() {
  +_media-min('md') {
    display: flex;
  }
}

_flex-media__figure() {
  _margin(0, 0, .5);
  _background-image-cover();

  > img {
    width: 100%;
  }

  +_media-min('md') {
    flex: none;

    > img {
      width: auto;
    }
  }
}

_flex-media__body() {
  flex: 1;
}
