//
// Ghost style
//
// .c-btn-ghost {
//   @extend $_btn;
//   _ghost();
// }
//
// <a class="c-btn-ghost" role="button">btn</a>
//

_ghost() {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
