//
// Ghost style
//
// .c-btn-ghost {
//   @extend $bs-btn;
//   bs-ghost();
// }
//
// <a class="c-btn-ghost" role="button">btn</a>
//
bs-ghost() {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
}
