//
// Hamberger button component
//
// .c-hamburger-btn {
//   _hamburger-btn();
//   &__bar {
//     _hamburger-btn__bar();
//   }
// }
//
// <div class="c-hamburger-btn">
//   <div class="c-hamburger-btn__bar"></div>
//   <div class="c-hamburger-btn__bar"></div>
//   <div class="c-hamburger-btn__bar"></div>
// </div>
//

hamburger-btn-height     ?= 16px;
hamburger-btn-width      ?= 22px;
hamburger-btn-bar-height ?= 2px;

_hamburger-btn() {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  cursor: pointer;
  height: hamburger-btn-height;
  width: hamburger-btn-width;
}

//
// @param  length  height
//
_hamburger-btn__bar() {
  _position(absolute, null, 0, null, 0);
  display: block;
  height: hamburger-btn-bar-height;
  _transition(transform);

  &:nth-child(1) {
    top: 0;
  }

  &:nth-child(2) {
    top: (hamburger-btn-height / 2 - hamburger-btn-bar-height / 2);
  }

  &:nth-child(3) {
    top: (hamburger-btn-height - hamburger-btn-bar-height);
  }
}
