//
// Input group component
//
// .c-input-group {
//   _input-group();
//   &__addon {
//     _input-group__addon();
//   }
//   &__field {
//     _input-group__field();
//   }
//   &__control {
//     _input-group__control();
//   }
//   &__btn {
//     _input-group__btn();
//   }
// }
//
// <div class="c-input-group">
//   <div class="c-input-group__addon">@</div>
//   <div class="c-input-group__field">
//     <input type="text" class="c-input-group__control">
//   </div>
//   <button class="c-input-group__btn">Go</button>
// </div>
//

_input-group-border-color ?= bs-input-group-border-color ?= _light(_color-gray);

_input-group() {
  display: flex;
  flex-wrap: nowrap;

  > :nth-child(n + 2) {
    border-left: none;
  }
}

_input-group__addon() {
  flex: 0 1 0;
  border: 1px solid _input-group-border-color;
}

_input-group__field() {
  display: flex;
  flex: 1;
  border: 1px solid _input-group-border-color;
}

_input-group__control() {
  _form-control();
  flex: 1;
  width: 100%;
  border: none;
}

_input-group__btn() {
  _btn();
  flex: 0 1 0;
  overflow: visible;
  border: 1px solid _input-group-border-color;
}
