//
// Input group component
//
// .c-input-group {
//   _input-group();
//   &__addon {
//     _input-group__addon();
//   }
//   &__field {
//     _input-group__field();
//   }
//   &__control {
//     _input-group__control();
//   }
//   &__btn {
//     _input-group__btn();
//   }
// }
//
// <div class="c-input-group">
//   <div class="c-input-group__addon">@</div>
//   <div class="c-input-group__field">
//     <input type="text" class="c-input-group__control">
//   </div>
//   <button class="c-input-group__btn">Go</button>
// </div>
//

bs-input-group-border-radius ?= bs-border-radius;
bs-input-group-border-color  ?= bs-light(bs-color-gray);
bs-input-group-addon-padding ?= (bs-base-font-size / 2);
bs-input-group-addon-background-color ?= bs-lighter(bs-color-gray);

_input-group() {
  border-radius: bs-input-group-border-radius;
  display: flex;
  flex-wrap: nowrap;

  > :nth-child(n+2) {
    border-left: none;
  }

  > :first-child {
    border-radius: bs-input-group-border-radius 0 0 bs-input-group-border-radius;
  }

  > :last-child {
    border-radius: 0 bs-input-group-border-radius bs-input-group-border-radius 0;
  }
}

_input-group__addon() {
  flex: 0 1 0;
  padding: bs-input-group-addon-padding;
  background-color: bs-input-group-addon-background-color;
  border: 1px solid bs-input-group-border-color;
  border-radius: 0;
}

_input-group__field() {
  display: flex;
  flex: 1;
  border: 1px solid bs-input-group-border-color;
}

_input-group__control() {
  _form-control();
  flex: 1;
  width: 100%;
  border: none;
  border-radius: 0;
}

_input-group__btn() {
  _btn();
  flex: 0 1 0;
  overflow: visible;
  border: 1px solid bs-input-group-border-color;
  border-radius: 0;
}
