//
// Retrun margin
//
// @param  int  coefficient-1
// @param  int  coefficient-2
// @param  int  coefficient-3
// @param  int  coefficient-4
//
_margin(coefficient-1, coefficient-2 = null, coefficient-3 = null, coefficient-4 = null) {
  if (coefficient-2 == null && coefficient-3 == null && coefficient-4 == null) {
    margin = _space(coefficient-1);
    margin: margin;
  } else if (coefficient-3 == null && coefficient-4 == null) {
    margin-vertical   = _space(coefficient-1);
    margin-horizontal = _space(coefficient-2);
    margin: margin-vertical margin-horizontal;
  } else if (coefficient-4 == null) {
    margin-top        = _space(coefficient-1);
    margin-horizontal = _space(coefficient-2);
    margin-bottom     = _space(coefficient-3);
    margin: margin-top margin-horizontal margin-bottom;
  } else {
    margin-top    = _space(coefficient-1);
    margin-right  = _space(coefficient-2);
    margin-bottom = _space(coefficient-3);
    margin-left   = _space(coefficient-4);
    margin: margin-top margin-right margin-bottom margin-left;
  }
}

//
// Retrun margin-top
//
// @param  int  coefficient
//
_margin-top(coefficient) {
  margin-top: _space(coefficient);
}

//
// Retrun margin-right
//
// @param  int  coefficient
//
_margin-right(coefficient) {
  margin-right: _space(coefficient);
}

//
// Retrun margin-bottom
//
// @param  int  coefficient
//
_margin-bottom(coefficient) {
  margin-bottom: _space(coefficient);
}

//
// Retrun margin-left
//
// @param  int  coefficient
//
bs-margin-left(coefficient) {
  margin-left: _space(coefficient);
}
