//
// Media component
//
// .c-media {
//   _media();
//   &__figure {
//     _media__figure();
//   }
//   &__body {
//     _media__body();
//   }
// }
//
// <div class="c-media">
//   <div class="c-media__figure">
//     <img ...>
//   </div>
//   <div class="c-media__body">
//     ...
//   </div>
// </div>
//

_media() {
  display: flex;
}

_media__figure() {
  flex: none;
  _background-image-cover();
}

_media__body() {
  flex: 1;
}
