//
// Radio component
//
// .c-radio {
//   _radio();
// }
//
// <span class="c-radio" data-c="radio">
//   <input type="radio">
//   <label data-c="radio__label">Label</label>
// </span>
//

_radio() {
  radio-margin  = (_base-font-size / 2);
  radio-z-index = 1;

  position: relative;
  display: inline-block;
  margin-right: radio-margin;
  padding-left: (_base-font-size + radio-margin);

  > [type="radio"] {
    _position(absolute, _between-lines, null, null, 0, radio-z-index);
    _square(_base-font-size);
    cursor: pointer;
    opacity: 0 !important;
    outline: 0;

    &:checked ~ [data-c="radio__label"]::after {
      opacity: 1;
    }
  }

  > [data-c="radio__label"] {
    &::before {
      _position(absolute, _between-lines, null, null, 0, (radio-z-index - 1));
      _circle(_base-font-size);
      content: '';
      display: inline-block;
      background-color: #fff;
      border: 1px solid _light(_color-gray);
    }

    &::after {
      size = (_base-font-size / 2);
      left = ((_base-font-size - size) / 2);
      top  = (_between-lines + left);

      _position(absolute, top, null, null, left, (radio-z-index - 1));
      _circle(size);
      content: '';
      display: inline-block;
      background-color: _dark(_color-gray);
      opacity: 0;
    }
  }
}
