//
// Radio component
//
// .c-radio {
//   _radio();
// }
//
// <span class="c-radio" data-c="radio">
//   <input type="radio">
//   <label data-c="radio__label">Label</label>
// </span>
//

_radio() {
  radio-margin  = (_base-font-size / 2);
  radio-z-index = 1;

  position: relative;
  display: inline-block;
  margin-right: radio-margin;
  padding-left: (_base-font-size + radio-margin);

  > [type="radio"] {
    _checked-control-position();
    cursor: pointer;
    opacity: 0 !important;
    outline: 0;
    z-index: radio-z-index;

    &:checked ~ [data-c="radio__label"]::after {
      opacity: 1;
    }
  }

  > [data-c="radio__label"] {
    &::before {
      _checked-control-position();
      content: '';
      display: inline-block;
      background-color: #fff;
      border: 1px solid _light(_color-gray);
      border-radius: 100%;
      z-index: (radio-z-index - 1);
    }

    &::after {
      height: (_base-font-size / 2);
      position: absolute;
      left: ((_base-font-size - @height) / 2);
      top: (_between-lines + @left);
      content: '';
      display: inline-block;
      background-color: _dark(_color-gray);
      border-radius: 100%;
      width: @height;
      opacity: 0;
      z-index: (radio-z-index - 1);
    }
  }
}
