//
// Return min-width media query
//
// @param  length  min  width
//
bs-bp-min(min) {
  if (min == bs-screen-sm-min) {
    {block};
  } else {
    @media (min-width: min) {
      {block};
    }
  }
}

//
// Return max-width media query
//
// @param  length  max  width
//
bs-bp-max(max) {
  @media (max-width: max) {
    {block};
  }
}

//
// Return bs-screen-md-min media query
//
bs-bp-md-min() {
  +bs-bp-min(bs-screen-md-min) {
    {block};
  }
}

//
// Return bs-screen-md-max media query
//
bs-bp-md-max() {
  +bs-bp-max(bs-screen-md-max) {
    {block};
  }
}

//
// Return media query for smartphone size
//
bs-bp-sm-only() {
  +bs-bp-max(bs-screen-sm-max) {
    {block};
  }
}

//
// Return media query for tablet size
//
bs-bp-md-only() {
  @media (min-width: bs-screen-md-min) and (max-width: bs-screen-md-max) {
    {block};
  }
}

//
// Return media query for pc size
//
// @return  string  media query
//
bs-bp-lg-only() {
  +bs-bp-min(bs-screen-lg-min) {
    {block};
  }
}
