//
// Return min-width media query
//
// @param  length  min  width
//
_media-min(min) {
  size = _hash-search(min, bs-sizes);
  if (min == 'sm') {
    {block};
  } else if (size != null) {
    @media (min-width: bs-sizes[min]) {
      {block};
    }
  } else if (min == bs-screen-sm-min) {
    {block};
  } else {
    @media (min-width: min) {
      {block};
    }
  }
}

//
// Return max-width media query
//
// @param  length  max  width
//
_media-max(max) {
  size = _hash-search(max, bs-sizes);
  if (size != null) {
    @media (max-width: bs-sizes-max[max]) {
      {block};
    }
  } else {
    @media (max-width: max) {
      {block};
    }
  }
}

//
// Return media query for smartphone size
//
bs-bp-sm-only() {
  +_media-max(bs-screen-sm-max) {
    {block};
  }
}

//
// Return media query for tablet size
//
bs-bp-md-only() {
  @media (min-width: bs-screen-md-min) and (max-width: bs-screen-md-max) {
    {block};
  }
}

//
// Return media query for pc size
//
// @return  string  media query
//
bs-bp-lg-only() {
  +_media-min(bs-screen-lg-min) {
    {block};
  }
}
