//
// Adding margin for the row
//
// @param  length  $margin  margin size
//
bs-row-margin($margin) {
  margin-right: ($margin / 2 * -1);
  margin-left: ($margin / 2 * -1);
  margin-bottom: ($margin * -1);
}

//
// Adding margin for the column
//
// @param  length  $margin  margin size
//
bs-col-margin($margin) {
  padding-right: ($margin / 2);
  padding-left: ($margin / 2);
  margin-bottom: $margin;
}

//
// Setting column width
//
// @param  length  $width
//
bs-col-width($width) {
  if ($width == auto) {
    flex: auto;
    max-width: 100%;
  } else if ($width == 1) {
    flex: 1;
    max-width: 100%;
  } else {
    flex: 0 1 $width;
    max-width: $width;
  }
}

//
// Setting column width
//
// @param  int  $columns  molecule column size
// @param  int  $max-columns  denominator column size
//
bs-col($columns = null, $max-columns = null) {
  if ($columns != null && $max-columns != null) {
    $width = percentage($columns / $max-columns);
    bs-col-width($width);
  } else {
    bs-col-width(1);
  }
}

//
// Setting column offset
//
// @param  int  $columns  molecule offset size
// @param  int  $max-columns  denominator offset size
//
bs-col-offset($columns = null, $max-columns = null) {
  if ($columns != null && $max-columns != null) {
    margin-left: percentage($columns / $max-columns);
  }
  if ($columns == 0) {
    margin-left: 0;
  }
}
