//
// The dots spinner component
//
// .c-spinner-dots {
//   _spinner-dots();
//   &__dot {
//     _spinner-dots__dot();
//   }
// }
//
// <div class="c-spinner-dots">
//   <div class="c-spinner-dots__dot"></div>
//   <div class="c-spinner-dots__dot"></div>
//   <div class="c-spinner-dots__dot"></div>
// </div>
//

_spinner-dots() {
  display: inline-block;
  font-size: 0;
}

_spinner-dots__dot() {
  _circle(10px);
  display: inline-block;
  animation: _spinner-dots 2s ease-in 0s infinite;

  &:nth-child(2) {
    animation-delay: .1s;
  }

  &:nth-child(3) {
    animation-delay: .2s;
  }

  @keyframes _spinner-dots {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(1.3);
    }
    20% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
}

//
// The pulse spinner component
//
// .c-spinner-pulse {
//   _spinner-pulse();
//   &__dot {
//     _spinner-pulse__bar();
//   }
// }
//
// <div class="c-spinner-pulse">
//   <div class="c-spinner-pulse__bar"></div>
//   <div class="c-spinner-pulse__bar"></div>
//   <div class="c-spinner-pulse__bar"></div>
// </div>
//

_spinner-pulse() {
  display: inline-flex;
  justify-content: space-between;
}

_spinner-pulse__bar() {
  height: 16px;
  width: 5px
  display: block;
  animation: _spinner-pulse 2s ease-in 0s infinite;

  &:nth-child(2) {
    animation-delay: .1s;
  }

  &:nth-child(3) {
    animation-delay: .2s;
  }

  @keyframes _spinner-pulse {
    0% {
      transform: scaleY(1);
    }
    10% {
      transform: scaleY(1.4);
    }
    20% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(1);
    }
  }
}

//
// The circle spinner component
//
// .c-spinner-circle {
//   _spinner-circle();
// }
//
// <div class="c-spinner-pulse"></div>
//

_spinner-circle() {
  _circle(20px);
  border: 3px solid transparent;
  animation: _spinner-circle 1s linear 0s infinite;

  @keyframes _spinner-circle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
