//
// Transition helper
//
// a {
//     bs-transition-all();
//     color: #f00;
//     &:hover {
//         color: #f9c;
//     }
// }
//
bs-transition-all() {
  transition: all bs-transition-duration bs-transition-function-timing;
}

//
// Transition helper
//
// .c-progress-bar {
//     bs-transition-size();
//     height: 10px;
//     width: 10px;
//     &:hover {
//         width: 20px;
//     }
// }
//
bs-transition-size() {
  transition: width bs-transition-duration bs-transition-function-timing,
              height bs-transition-duration bs-transition-function-timing;
}

//
// Transition helper
//
// img {
//     bs-transition-opacity();
//     opacity: 1;
//     &:hover {
//         opacity: .8;
//     }
// }
//
bs-transition-opacity() {
  transition: opacity bs-transition-duration bs-transition-function-timing;
  backface-visibility: hidden;
}
