//
// Transition helper
//
// a {
//   _transition-all();
//   color: #f00;
//   &:hover {
//     color: #f9c;
//   }
// }
//
_transition-all() {
  transition: all bs-transition-duration bs-transition-function-timing;
}

//
// Transition helper
//
// .c-progress-bar {
//   _transition-size();
//   height: 10px;
//   width: 10px;
//   &:hover {
//     width: 20px;
//   }
// }
//
_transition-size() {
  transition: width bs-transition-duration bs-transition-function-timing,
              height bs-transition-duration bs-transition-function-timing;
}

//
// Transition helper
//
// img {
//   _transition-opacity();
//   opacity: 1;
//   &:hover {
//     opacity: .8;
//   }
// }
//
_transition-opacity() {
  transition: opacity bs-transition-duration bs-transition-function-timing;
  backface-visibility: hidden;
}
