//
// Default text color
// @type  hex
//
_color-text ?= bs-color-text ?= #333;

//
// Default black color
// @type  hex
//
_color-black ?= bs-color-black ?= #111;

//
// Default gray color
// @type  hex
//
_color-gray ?= bs-color-gray ?= #999;

//
// Default red color
// @type  hex
//
_color-red ?= bs-color-red ?= #e74c3c;
