//
// The alert component
//
// .c-alert {
//   @extend $_alert;
// }
//
// <div class="c-alert" role="alert">
//   ...
// </div>
//

$_alert {
  _alert({
    background-color: #fff,
    border-color    : _light(_color-gray),
    border-size     : 1px,
  });

  border-radius: _border-radius;
  padding: _base-font-size;
}
