//
// Alert component
//
// .c-alert {
//    @extend $bs-alert;
// }
//
// <alert class="c-alert" role="alert">
//     ...
// </alert>
//

bs-alert-border-radius ?= bs-border-radius;
bs-alert-border        ?= 1px solid bs-light(bs-color-gray);
bs-alert-padding       ?= bs-base-font-size;

$bs-alert {
  background-color: #fff;
  border-radius: bs-alert-border-radius;
  border: bs-alert-border;
  display: block;
  padding: bs-alert-padding;
}
