//
// Alert component
//
// .c-alert {
//   @extend $_alert;
// }
//
// <alert class="c-alert" role="alert">
//   ...
// </alert>
//

$_alert {
  _alert();
  background-color: #fff;
  border-radius: _border-radius;
  border: 1px solid _light(_color-gray);
  padding: _base-font-size;
}
