//
// Top balloon component
//
// .c-balloon-top {
//   @extend $_balloon-top;
// }
//
// <div class="c-balloon-top">
//   ...
// </div>
//

$_balloon-top {
  background-color = #fff;
  border-color     = _light(_color-gray);
  border-size      = 1px;

  _balloon-top();
  background-color: background-color;
  border: border-size solid border-color;
  border-radius: 4px;
  _padding(.75);

  &::before {
    border-bottom-color: border-color;
  }

  &::after {
    transform: translateY(border-size + 1);
    border-bottom-color: background-color;
  }
}

//
// Right balloon component
//
// .c-balloon-right {
//   @extend $_balloon-right;
// }
//
// <div class="c-balloon-right">
//   ...
// </div>
//

$_balloon-right {
  background-color = #fff;
  border-color     = _light(_color-gray);
  border-size      = 1px;

  _balloon-right();
  background-color: background-color;
  border: border-size solid border-color;
  border-radius: 4px;
  _padding(.75);

  &::before {
    border-left-color: border-color;
  }

  &::after {
    transform: translateX((border-size + 1) * -1);
    border-left-color: background-color;
  }
}

//
// Bottom balloon component
//
// .c-balloon-bottom {
//   @extend $_balloon-bottom;
// }
//
// <div class="c-balloon-bottom">
//   ...
// </div>
//

$_balloon-bottom {
  background-color = #fff;
  border-color     = _light(_color-gray);
  border-size      = 1px;

  _balloon-bottom();
  background-color: background-color;
  border: border-size solid border-color;
  border-radius: 4px;
  _padding(.75);

  &::before {
    border-top-color: border-color;
  }

  &::after {
    transform: translateY((border-size + 1) * -1);
    border-top-color: background-color;
  }
}

//
// Left balloon component
//
// .c-balloon-left {
//   @extend $_balloon-left;
// }
//
// <div class="c-balloon-left">
//   ...
// </div>
//

$_balloon-left {
  background-color = #fff;
  border-color     = _light(_color-gray);
  border-size      = 1px;

  _balloon-left();
  background-color: background-color;
  border: border-size solid border-color;
  border-radius: 4px;
  _padding(.75);

  &::before {
    border-right-color: border-color;
  }

  &::after {
    transform: translateX(border-size + 1);
    border-right-color: background-color;
  }
}
