//
// Top balloon component
//
// .c-balloon-top {
//   @extend $_balloon-top;
// }
//
// <div class="c-balloon-top">
//   ...
// </div>
//

$_balloon-top {
  _balloon-top({
    background-color: #fff,
    border-color    : _light(_color-gray),
    border-size     : 1px,
    triangle-size   : 10px,
  });

  border-radius: _border-radius;
  _padding(.75);
}

//
// Right balloon component
//
// .c-balloon-right {
//   @extend $_balloon-right;
// }
//
// <div class="c-balloon-right">
//   ...
// </div>
//

$_balloon-right {
  _balloon-right({
    background-color: #fff,
    border-color    : _light(_color-gray),
    border-size     : 1px,
    triangle-size   : 10px,
  });

  border-radius: 4px;
  _padding(.75);
}

//
// Bottom balloon component
//
// .c-balloon-bottom {
//   @extend $_balloon-bottom;
// }
//
// <div class="c-balloon-bottom">
//   ...
// </div>
//

$_balloon-bottom {
  _balloon-bottom({
    background-color: #fff,
    border-color    : _light(_color-gray),
    border-size     : 1px,
    triangle-size   : 10px,
  });

  border-radius: 4px;
  _padding(.75);
}

//
// Left balloon component
//
// .c-balloon-left {
//   @extend $_balloon-left;
// }
//
// <div class="c-balloon-left">
//   ...
// </div>
//

$_balloon-left {
  _balloon-left({
    background-color: #fff,
    border-color    : _light(_color-gray),
    border-size     : 1px,
    triangle-size   : 10px,
  });

  _padding(.75);
}
