//
// The button component
//
// .c-btn {
//   @extend $_btn;
// }
//
// <a class="c-btn" role="button">btn</a>
//

$_btn {
  _btn({
    background-color: #fff,
    border-size     : 1px,
    border-color    : _light(_color-gray),
  });

  color: _color-text;
  padding: (_base-font-size / 2) (_base-font-size * 2);
}
