//
// The checkbox component
//
// .c-checkbox {
//   @extend $_checkbox;
// }
//
// <span class="c-checkbox">
//   <input type="checkbox">
//   <label class="c-checkbox__label">Label</label>
// </span>
//

$_checkbox {
  _checkbox();
}
