//
// Checkbox component
//
// .c-checkbox {
//     @extend $bs-checkbox;
// }
//
// <span class="c-checkbox">
//     <input type="checkbox" />
// </span>
//

bs-checkbox-margin ?= (bs-base-font-size / 2);

$bs-checkbox {
  display: inline-block;

  [type="checkbox"] {
    margin-right: bs-checkbox-margin;
  }
}
