//
// Fluid container component
//
// .c-container-fluid {
//     @extend $bs-container-fluid;
// }
//
// <div class="c-container-fluid">
//    ...
// </div>
//

bs-container-margin ?= bs-base-line-height;

$bs-container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: (bs-container-margin / 2);
  padding-left: (bs-container-margin / 2);

  +bs-bp-md-min() {
    padding-right: bs-container-margin;
    padding-left: bs-container-margin;
  }
}

//
// Container component
//
// .c-container {
//     @extend $bs-container;
// }
//
// <div class="c-container">
//    ...
// </div>
//

bs-container-max-width ?= 75rem;

$bs-container {
  @extend $bs-container-fluid;

  +bs-bp-lg-only() {
    max-width: bs-container-max-width;
  }
}
