//
// Fluid container component
//
// .c-container-fluid {
//   @extend $_container-fluid;
// }
//
// <div class="c-container-fluid">
//   ...
// </div>
//

$_container-fluid {
  _container-fluid();
}

//
// Container component
//
// .c-container {
//   @extend $_container;
// }
//
// <div class="c-container">
//   ...
// </div>
//

$_container {
  _container();
}
