//
// Media component. When smartphone size, vertically aligned.
//
// .c-flex-media {
//   @extend $_flex-media;
// }
//
// <div class="c-flex-media">
//  <div class="c-flex-media__figure">
//    <img ...>
//  </div>
//  <div class="c-flex-media__body">
//    ...
//  </div>
// </div>
//

$_flex-media {
  _flex-media();

  &__figure {
    _flex-media__figure();

    +_media-min('md') {
      _margin(0, 1, 0, 0);

      > * {
        vertical-align: top;
        margin-top: _between-lines;
      }
    }
  }

  &__body {
    _flex-media__body();
  }
}
