//
// The meedia component. When smartphone size, vertically aligned.
//
// .c-flex-media {
//   @extend $_flex-media;
// }
//
// <div class="c-flex-media">
//  <div class="c-flex-media__figure">
//    <img ...>
//  </div>
//  <div class="c-flex-media__body">
//    ...
//  </div>
// </div>
//

$_flex-media {
  _flex-media();

  &__figure {
    _margin(0, 0, .5);

    +_media-min(md) {
      _margin(0, 1, 0, 0);
    }
  }

  &__body {
  }
}
