//
// Input group component
//
// .c-input-group {
//   @extend $_input-group;
// }
//
// <div class="c-input-group">
//   <div class="c-input-group__addon">@</div>
//   <div class="c-input-group__field">
//     <input type="text" class="c-input-group__control">
//   </div>
//   <button class="c-input-group__btn">Go</button>
// </div>
//

$_input-group {
  _input-group();
  border-radius: _border-radius;

  > :first-child {
    border-radius: _border-radius 0 0 _border-radius;
  }

  > :last-child {
    border-radius: 0 _border-radius _border-radius 0;
  }

  &__addon {
    _input-group__addon();
    background-color: _lighter(_color-gray);
    padding: (_base-font-size / 2);
  }

  &__field {
    _input-group__field();
  }

  &__control {
    _input-group__control();
    padding: (_base-line-height / 4) (_base-line-height / 2);
  }

  &__btn {
    @extend $_btn;
    _input-group__btn();
  }
}
