//
// Media component
//
// .c-media {
//   @extend $_media;
// }
//
// <div class="c-media">
//   <div class="c-media__figure">
//     <img ...>
//   </div>
//   <div class="c-media__body">
//     ...
//   </div>
// </div>
//

$_media {
  _media();

  &__figure {
    _media__figure();
    _margin(0, 1, 0, 0);

    > * {
      vertical-align: top;
      margin-top: _between-lines;
    }
  }

  &__body {
    _media__body();
  }
}
