//
// The navbar component
//
// .c-navbar {
//   @extend $_navbar;
// }
//
// import BasisNavbar from 'node_modules/getbasis/src/js/navbar.js';
// new BasisNavbar();
//
// <ul class="c-navbar">
//   <li class="c-navbar__item" data-c="navbar__item" aria-haspopup="true">
//     <a href="#">menu</a>
//     <ul class="c-navbar__submenu" data-c="navbar__submenu" aria-hidden="true">
//       <li class="c-navbar__subitem" data-c="navbar__subitem" aria-haspopup="true">
//         <a href="#">submenu</a>
//         <ul class="c-navbar__submenu" data-c="navbar__submenu" aria-hidden="true">
//           <li class="c-navbar__subitem" data-c="navbar__subitem"><a href="#">submenu</a></li>
//         </ul>
//       </li>
//     </ul>
//   </li>
// </ul>
//

$_navbar {
  _navbar();
}
