//
// The radio component
//
// .c-radio {
//   @extend $_radio;
// }
//
// <span class="c-radio">
//   <input type="radio">
//   <label class="c-radio__label">Label</label>
// </span>
//

$_radio {
  _radio();
}
