//
// Radio component
//
// .c-radio {
//     @extend $bs-radio;
// }
//
// <span class="c-radio">
//     <input type="radio" />
// </span>
//

bs-radio-margin ?= (bs-base-font-size / 2);

$bs-radio {
  display: inline-block;

  [type="radio"] {
    margin-right: bs-radio-margin;
  }
}
