//
// Grid component
//
// .c-row {
//     bs-row();
//     &__col {
//         bs-col();
//         &--1-3 {
//             bs-col(1, 3);
//         }
//         &--offset-1-3 {
//             bs-col-offset(1, 3);
//         }
//     }
// }
//
// <div class="c-row">
//    <div class="c-row__col">
//        ...
//    </div>
// </div>
//

$bs-row {
  display: flex;
  flex-wrap: wrap;

  &__col {
    bs-col-width(1);
  }
}
