//
// Grid component
//
// .c-row {
//   @extend $_row;
// }
//
// <div class="c-row">
//  <div class="c-row__col">
//    ...
//  </div>
// </div>
//

$_row {
  _row();

  &__col {
    _row__col(null, null);
  }
}
