//
// Select component
//
// .c-select {
//     @extend $bs-select;
// }
//
// <span class="c-select">
//     <select></select>
// </span>
//

bs-select-padding ?= (bs-base-line-height / 4) bs-base-line-height (bs-base-line-height / 4) (bs-base-line-height / 2);

$bs-select {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #fff;
  border: bs-form-control-border;
  border-radius: bs-form-control-border-radius;

  &::after {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -4px;
    content: '';
    display: block;
    border: 6px solid transparent;
    border-top: 8px solid bs-dark(bs-color-gray);
    width: 0;
    height: 0;
  }

  > select {
    margin: 0;
    appearance: none;
    background-color: transparent;
    border: none;
    line-height: 1;
    outline: 0;
    padding: bs-select-padding;
    width: 130%;
  }
}
