//
// The pulse spinner component
//
// .c-spinner-pulse {
//   @extend $_spinner-pulse;
// }
//
// <div class="c-spinner-pulse">
//   <div class="c-spinner-pulse__bar"></div>
//   <div class="c-spinner-pulse__bar"></div>
//   <div class="c-spinner-pulse__bar"></div>
// </div>
//

$_spinner-pulse {
  _spinner-pulse();

  &__bar {
    margin: 0 3px;
  }
}
