//
// The dots spinner component
//
// .c-spinner-dots {
//   @extend $_spinner-dots;
// }
//
// <div class="c-spinner-dots">
//   <div class="c-spinner-dots__dot"></div>
//   <div class="c-spinner-dots__dot"></div>
//   <div class="c-spinner-dots__dot"></div>
// </div>
//

$_spinner-dots {
  _spinner-dots();

  &__dot {
    margin: 0 4px;
  }
}
