//
// Hero component
//
// .c-hero {
//     bs-c-hero();
//     &__header {
//         bs-c-hero__header();
//     }
//     &__content {
//         bs-c-hero__content();
//     }
//     &__footer {
//         bs-c-hero__footer();
//     }
// }
//

bs-c-hero() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

bs-c-hero__part() {
  flex: 0 1 100%;
  max-width: 100%;
  position: relative;
}

bs-c-hero__header() {
  bs-c-hero__part();
  align-self: flex-start;
}

bs-c-hero__content() {
  bs-c-hero__part();
  align-self: center;
}

bs-c-hero__footer() {
  bs-c-hero__part();
  align-self: flex-end;
}
