//
// Media component
//
// .c-media {
//     bs-c-media();
//     &__figure {
//         bs-c-media__figure();
//     }
//     &__body {
//         bs-c-media__body();
//     }
// }
//
// <div class="c-media">
//    <div class="c-media__figure">
//        <img ... />
//    </div>
//    <div class="c-media__body">
//        ...
//    </div>
// </div>
//

$bs-c-media-margin ?= $bs-base-line-height;

bs-c-media() {
  display: flex;
}

bs-c-media__figure() {
  bs-background-image-cover();
  margin-right: $bs-c-media-margin;
  flex: none;

  > * {
    vertical-align: top;
    margin-top: $bs-between-lines;
  }
}

bs-c-media__body() {
  flex: 1;
}
