//
// A little brighten
//
// @param   hex  hex
// @return  hex
//
_light(hex) {
  return lightness(hex, (lightness(hex) + 20%));
}

//
// Brighten
//
// @param   hex  hex
// @return  hex
//
_lighter(hex) {
  return lightness(hex, (lightness(hex) + 33.5%));
}

//
// To very brighten
//
// @param   hex  hex
// @return  hex
//
_lightest(hex) {
  return lightness(hex, (lightness(hex) + 37%));
}

//
// A little darken
//
// @param   hex  hex
// @return  hex
//
_dark(hex) {
  return darken(hex, (lightness(hex) - 20%));
}

//
// Darken
//
// @param   hex  hex
// @return  hex
//
_darker(hex) {
  return darken(hex, (lightness(hex) - 33.5%));
}

//
// To very darken
//
// @param   hex  hex
// @return  hex
//
_darkest(hex) {
  return darken(hex, (lightness(hex) - 37%));
}
