//
// Checks for a valid CSS length
//
// @param   mixed  value
// @return  bool
//
_is-length(value) {
  if ('unit' == typeof(value) && ('' != unit(value) || 0 == value)) {
    return true;
  }

  return false;
}
