//
// Default text color
// @type  hex
//
bs-color-text ?= #333;

//
// Default black color
// @type  hex
//
bs-color-black ?= #111;

//
// Default gray color
// @type  hex
//
bs-color-gray ?= #999;

//
// Default red color
// @type  hex
//
bs-color-red ?= #e74c3c;
