//
// Break point for smartphone
// @type  length
//
bs-screen-sm-min = 0;

bs-base-font-size-px = 16px;

//
// Break point for smartphone and tablet
// 640px / 16px
// @type  length
//
bs-screen-md-min ?= (bs-px2rem(640px) / bs-px2rem(bs-base-font-size-px));
bs-screen-sm-max = (bs-screen-md-min - (1em / 16));

//
// Break point for tablet and pc
// 1024px / 16px
// @type  length
//
bs-screen-lg-min ?= (bs-px2rem(1024px) / bs-px2rem(bs-base-font-size-px));
bs-screen-md-max = (bs-screen-lg-min - (1em / 16));

//
// Array of breakpoints
// @type  array
//
bs-sizes ?= {
  sm: bs-screen-sm-min,
  md: bs-screen-md-min,
  lg: bs-screen-lg-min
};

//
// Array of breakpoints
// @type  array
//
bs-sizes-max ?= {
  sm: bs-screen-sm-max,
  md: bs-screen-md-max
};
