//
// The top balloon component
//
// @param  hash  properties for decoration
//
// .c-balloon-top {
//   _balloon-top({
//     background-color: #fff,
//     border-color    : #ccc,
//     border-size     : 1px,
//     triangle-size   : 10px,
//   });
// }
//
// <div class="c-balloon-top">
//   ...
// </div>
//

_balloon-top(params = {}) {
  params = merge(
    {
      background-color: transparent,
      border-color    : transparent,
      border-size     : 0,
      triangle-size   : 10px,
    },
    params
  );

  position: relative;
  background-color: params['background-color'];

  if (! _is-null(params['border-size']) && ! _is-null(params['border-color'])) {
    border: params['border-size'] solid params['border-color'];
  }

  _balloon-triangle(
    top,
    params['triangle-size'],
    params['background-color'],
    params['border-size'],
    params['border-color']
  );
}
