//
// The bottom balloon component
//
// @param  hash  properties for decoration
//
// .c-balloon-bottom {
//   _balloon-bottom({
//     background-color: null,
//     border-color: null,
//     border-size: null,
//     triangle-size: 10px,
//   });
// }
//
// <div class="c-balloon-bottom">
//   ...
// </div>
//

_balloon-bottom(params = {}) {
  params = merge(
    {
      background-color: null,
      border-color: null,
      border-size: null,
      triangle-size: 10px,
    },
    params
  );

  background-color = params['background-color'];
  border-color = params['border-color'];
  border-size = params['border-size'];
  triangle-size = params['triangle-size'];

  position: relative;

  if (! _is-null(border-size)) {
    background-color: background-color;
  }

  if (! _is-null(border-size) && ! _is-null(border-color)) {
    border: border-size solid border-color;
  }

  _balloon-triangle(
    bottom,
    triangle-size,
    background-color,
    border-size,
    border-color
  );
}
