//
// Prefix of basis classes
// @type  string
//
_prefix ?= bs-prefix ?= '_';

//
// If you don't need classes of the Basis, set to true.
//
_use-mixin-only ?= bs-use-mixin-only ?= false;

@import 'function/*';
@import 'variable/*';
@import 'mixin/*';
@import '_deprecated/function';
@import '_deprecated/mixin';

if (_is-use-mixin-only()) {
  @import 'placeholder/*';
  @import '_deprecated/placeholder';
}
